<!--en rett-->
<p id="notice"><%= notice %></p>

<div class="py-32 bg-white pt-28 lg:flex lg:justify-center ">
  <div class="flex flex-col bg-white rounded-2xl lg:w-1/3">
    <div>
      <% if @menu_item.image.attached? %>
        <%= image_tag @menu_item.image, class:"shadow object-cover rounded-t-2xl w-full h-auto align-middle border-none"%>
      <% end %>
    </div>
    <div class="m-10">
      <div class="flex flex-row justify-between">
        <div class="font-semibold text-2xl">
          <%= @menu_item.name %>
        </div>

        <div class="font-semibold text-xl">
          <%= @menu_item.price.to_i %>,-
        </div>
      </div>

      <div class="text-gray-700 pt-10">
        <%= @menu_item.description %>
      </div>

      <%= button_to 'Legg til', order_items_path(menu_item: @menu_item, info: "yo", location: "7 og 30 mil norover, litt øst, og oppover") %>

      <br>
      <br>
      <%= link_to 'Legg til', api_v1_create_order_path(restaurant_id: 2, info: :customer_info, location: "7 og 30 mil norover, litt øst, og oppover"), class: "uppercase bg-white mb-5 mt-1 py-2 w-full  border-green-300 border-solid border-2" %>

      <div class="text-gray-700 pt-10">
        Allergener:
        <br>
        <%= @menu_item.get_allergen_names_long.join(', ') %>
      </div>


      <%= react_component("add_to_cart", { menuItem: @menu_item }) %>
      <%= link_to 'Legg til flere av gjenstand', add_to_cart_path(menu_item_id: @menu_item, amount: 4) %>

      <%= total_amount() %>
    </div>
  </div>

</div>
