<!--en rett-->
<p id="notice"><%= notice %></p>
<div class="flex justify-between m-2 p-4 border-2 border-light-blue-500">
  <div>
    <%= @menu_item.image_url %>
  </div>
  <div>
    <%= @menu_item.name %>
  </div>
  <div>
    <%= @menu_item.description %>,-
  </div>
  <div>
    <%= @menu_item.price %>,-
  </div>
</div>
