<!-- retter som vises under menyene-->
<% menu.menu_items.each do |menu_item| %>
  <%= link_to menu_item_path(menu_item) do %>
    <!-- Hver rad-->
    <div class="flex my-2">
      <div class="sm:block flex-initial w-32">
        <% if menu_item.image.attached? %>
          <%= image_tag menu_item.image, class:"object-contain rounded max-w-full h-32 align-middle border-none"%>
        <% end %>
      </div>

      <div class="flex-1 pl-0 sm:pl-2">
        <div>
          <div class="inline-block">
            <%= menu_item.name %>
          </div>
          <% if menu_item.get_allergen_names_short.length >= 1 %>
            <div class="inline-block font-normal text-sm">
              (<%= menu_item.get_allergen_names_short.join(', ') %>)
            </div>
          <% end %>
        </div>
        <div class="text-gray-700 text-sm ">
          <%= truncate(menu_item.description) %>
        </div>
      </div>

      <div class="flex-row-reverse">
        <%= menu_item.price.to_i %>,-
      </div>
    </div>
  <% end %>
<% end %>
