<!-- retter som vises under menyene-->
<% menu.menu_items.where(:status => 1).each do |menu_item| %>
  <%= link_to menu_item_path(menu_item) do %>
    <!-- Hver rad-->
    <div class="flex my-3 shadow relative rounded-sm">
      <div class="w-2/5 md:w-1/3">
        <% if menu_item.image.attached? %>
          <%= image_tag menu_item.image, class:"object-cover rounded-l-sm w-full h-full align-middle border-none"%>
        <% end %>
      </div>

      <div class="w-3/5 lg:w-2/3 py-2 px-2 lg:px-4">
        <div class="">
          <div>
            <% if menu_item.empty == 1 %>
              <div class="font-semibold pb-1 text-red-500">
            <% else %>
              <div class="font-semibold pb-1">
            <% end %>
              <%= menu_item.name %>
            </div>
          </div>
          <div class="text-gray-700 text-sm pb-1">
            <%= truncate(menu_item.description) %>
          </div>
        </div>

        <% if menu_item.get_allergen_names_short.length >= 1 %>
          <div class="text-gray-700 text-xs">
            (<%= menu_item.get_allergen_names_short.join(', ') %>)
          </div>
        <% end %>
        <!-- dytt prisen ned til ny linje med br -->
        <br/>
        <div class="text-sm font-semibold absolute bottom-2 lg:bottom-4 right-2 lg:right-4">
          <%= menu_item.price.to_i %>,-
        </div>
      </div>
    </div>
  <% end %>
<% end %>
