<nav class="flex items-center justify-between flex-wrap bg-white lg:bg-gray-800 p-2 fixed w-full z-10 pin-t">

  <div class="flex items-center flex-no-shrink text-gray-900 lg:text-white mr-6">
    <%= link_to @restaurant.name, restaurant_path(:id => @restaurant.id), class: "text-2xl pl-2 font-semibold uppercase text-gray-900 lg:text-white hover:text-gray-600 lg:hover:text-gray-200 no-underline hover:text-white hover:no-underline" %>
  </div>
  <div>
    <%= link_to 'Orders', order_path(1) %>
  </div>

  <div class="block lg:hidden">
    <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-600 hover:text-gray-600">
      <svg class="fill-current h-5 w-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </button>
  </div>

  <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
    <ul class="list-reset lg:flex justify-end flex-1 items-center">
      <li class="mr-3">
        <%= link_to 'Meny', restaurant_path(:id => @restaurant.id), class: 'nav-btn' %>
      </li>
      <% if session[:restaurant_id] != nil %>
        <li class="mr-3">
          <%= link_to 'Admin', admin_restaurant_path(:id => @restaurant.id), class: "nav-btn" %>
        </li>

        <li class="mr-3">
          <%= link_to 'Logout', logout_path, method: :delete, class: "nav-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<script>
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }
</script>
