<div class="m-4 space-y-8">
<% if restaurant.errors.any? %>
  <div class="w-80 p-5 border-2 border-red-600 text-red-600">>
    <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

    <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div >
  <%= form.label :name, class: 'text-gray-700' %>
  <div>
  <%= form.text_field :name, class: 'w-80 border-gray-800 rounded-lg' %></div>
</div>

<div class="field">
  <%= form.label :username, class: 'text-gray-700' %>
  <div>
  <%= form.text_field :username, class: 'w-80 border-gray-800 rounded-lg'  %>
  </div>
</div>

<div class="field">
  <%= form.label :password, class: 'text-gray-700' %>
  <div>
    <%= form.password_field :password, class: 'w-80 border-gray-800 rounded-lg'  %>
  </div>
</div>

<div class="field">
  <%= form.label :password_confirmation, class: 'text-gray-700' %>
  <div>
    <%= form.password_field :password_confirmation, class: 'w-80 border-gray-800 rounded-lg'  %>
  </div>
</div>

<div class="actions">
  <%= form.submit class: 'btn-indigo'  %>
</div>
</div>