<div class="container mx-auto px-4 pb-1 pt-4">
  <div>
    <div class="pt-5">
      <strong>QR Kode</strong>
      <div class="flex pb-5">
        <div>
          <img src="<%= @restaurant.qr_code %>" class="w-20"/>
        </div>
        <div class="pl-5">
          <div>
            <strong>Navn:</strong>
            <%= @restaurant.name %>
          </div>

          <div>
            <strong>Brukernavn:</strong>
            <%= @restaurant.username %>
          </div>
          <div class="mt-2">
            <%= link_to 'Rediger', edit_admin_restaurant_path(@restaurant), class: "text-sm bg-gray-200 border border-gray-400 rounded hover:bg-gray-300 py-1 px-2" %>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto bg-gray-700 px-4 pb-1 pt-4 ">
      <div class="font-bold text-white text-3xl my-5">
        Menyer
      </div>
      <% @restaurant.menus.where.not(:status => 3).each do |menu| %>
        <% menu_items = menu.menu_items %>
        <%= react_component("admin_menu/menu_item", { menu: menu, menuItems: menu_items }) %>
      <% end %>
      <div class="h-20 mt-10">
        <%= link_to 'Ny meny', new_admin_menu_path(:restaurant_id => params[:id]), class: "text-sm bg-gray-200 border border-gray-400 rounded hover:bg-gray-300 py-1 px-2" %>
      </div>
    </div>
    <div class="container mx-auto bg-gray-700 px-4 pb-1 pt-4 ">
      <div class="font-bold text-white text-3xl my-5">
        Allergener
      </div>
      <% @allergens.each do |allergen| %>
        <%= react_component("admin_menu/allergen_item", { allergen: allergen }) %>
      <% end %>
      <div class="h-20 mt-10">
        <%= link_to 'Ny allergen', new_admin_allergen_path, class: "text-sm bg-gray-200 border border-gray-400 rounded hover:bg-gray-300 py-1 px-2" %>
      </div>
    </div>
  </div>
</div>

