<p id="notice"><%= notice %></p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Customer info:</strong>
  <%= @order.customer_info %>
</p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
