<div class="lg:py-5 pt-20 flex justify-center ">

  <!-- Kort -->
  <div class="flex flex-col rounded-tl-3xl lg:rounded-2xl w-full bg-white lg:w-1/3">
    <div>
      <p class="p-8 lg:mb-5 text-gray-900 font-semibold text-xl">Handlekurv</p>
    </div>

    <div>
      <% session[:cart].each do |item| %>
        <%list = Hash.new%>
        <% menu_item = MenuItem.find(item["item_id"]) %>
        <%list[menu_item.to_json] = item["amount"] %>
        <%#= link_to menu_item_path(item.menu_item) do %>
        <!-- Hver rad-->
        <div>
          <%= react_component("order_list", { orderItems: list }) %>
        </div>
      <% end %>

      <div class="px-8 ">
        <div>
          <%= button_to 'Slett handlekurv', empty_cart_path, method: :delete, data: { confirm: 'Are you sure?' }, class: " text-xs mt-3 p-2 rounded-sm  bg-white border-2 border-green-300" %>
        </div>

        <%= form_with local: true, url: make_order_path(restaurant_id: @restaurant.id), method: :post, builder: TailwindBuilder do |form| %>
          <div class="mt-8">
            <%= form.label :"Kommentar til kjøkkenet" %>
          </div>

          <%= form.text_area :customer_info, placeholder: "F.eks. uten løk" %>
          <div class="mt-4">
            <%= form.label :"Bordnr" %>
          </div>
          <%= form.text_field :location, placeholder: "F.eks. 1234", :maxlength => "5" %>

          <div class=" w-full bg-white mt-12">
            <div class="flex justify-between ">
              <div class="font-semibold">
                Totalt
              </div>
              <div class="font-semibold">
                <%= react_component("total_price") %>
              </div>
            </div>

            <div class="actions ">

              <%= form.submit 'Legg til', class: "uppercase bg-white mb-5 mt-1 py-2 w-full  border-green-300 border-solid border-2" %>

            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


