<% if menu_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

    <ul>
      <% menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div  class=" lg:flex lg:justify-center ">
  <div class="flex flex-col rounded-2xl lg:w-1/3">

    <div>
      <% if menu_item.image.attached? %>
        <%= image_tag menu_item.image, style: "shadow object-cover rounded-t-2xl w-full h-auto align-middle border-none"%>
      <% end %>

    </div>

    <div class="mx-10">
      <div class="field">
        <%= form.label :image %><br>
        <%= form.file_field :image %>
      </div>
      <div class="field">
        <% #form.label :menu_id %>
        <%= form.text_field :menu_id, type: :hidden %>
      </div>

      <div class="field text-gray-700 pt-5">
        <%= form.label :number, class: 'text-gray-700' %><br>
        <%= form.text_field :number, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
      <div class="field text-gray-700 pt-5">
        <%= form.label :name, class: 'text-gray-700' %><br>
        <%= form.text_field :name, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>

      <div class="field text-gray-700 pt-5">
        <%= form.label :description, class: 'text-gray-700' %><br>
        <%= form.text_area :description, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>

      <div class="field text-gray-700 pt-5">
        <%= form.label :price, class: 'text-gray-700' %><br>
        <%= form.text_field :price, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>

      <div class="actions text-gray-700 pt-5">
        <%= form.submit class: 'btn-indigo' %>
      </div>
    </div>
  </div>
</div>