<!--p id="notice"><%= notice %></p-->

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @menu_item.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>

<%= link_to 'Edit', edit_admin_menu_item_path(@menu_item) %> |
<%= link_to 'Back', admin_menu_items_path %>
