  <% if menu.errors.any? %>
    <div class="w-80 p-5 border-2 border-red-600 text-red-600">
      <h2 class="text-red-600"> <%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li class="text-red-600"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-80 space-y-3">
    <div class="field">
      <% #form.label :restaurant_id, class: 'text-gray-700' %>
      <div>
        <%= form.number_field :restaurant_id, class: 'w-80 border-gray-800 rounded-lg', type: :hidden%>
      </div>
    </div>

    <div class="field">
      <%= form.label :name, class: 'text-gray-700'  %>
      <div>
        <%= form.text_field :name, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :number, class: 'text-gray-700' %>
      <div>
        <%= form.text_field :number, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description, class: 'text-gray-700' %>
      <div>
        <%= form.text_field :description, class: 'w-80 border-gray-800 rounded-lg' %>
      </div>
    </div>

    <div class="">
      <%= form.submit class: 'btn-indigo' %>

    </div>
  </div>