<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<% @menu.menu_items.each do |menu_item| %>
  <strong><%= menu_item.name %></strong>
  <p>Id: <%= menu_item.id %></p>
  <p>Description: <%= menu_item.description %></p>
  <p>Price: <%= menu_item.price %></p>
  <p><%= link_to 'Edit', edit_menu_path(menu_item) %></p>
<% end %>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', admin_menus_path %>
