<!DOCTYPE html>
<html>
  <head>
    <title>Rubynor Qr Meny System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind"%>
    <%= stylesheet_link_tag "inter-font"%>
  </head>

  <body class="bg-gray-100 font-sans">
      <div class="pb-14">
        <% if @restaurant %>
          <%= render 'shared/header' %>
        <% end %>
      </div>

      <div class="lg:px-10 lg:py-32 ">
        <%= yield %>
      </div>

  </body>
</html>
