<!DOCTYPE html>
<html>
<head>
  <title>Rubynor Qr Meny System</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind" %>
  <%= stylesheet_link_tag "inter-font" %>
</head>

<body class="relative lg:bg-gray-100 font-sans">
  <div class="pb-14">
    <% if @restaurant %>
      <%= render 'shared/header' %>
    <% end %>
  </div>
  <div class="">
    <%= yield %>
  </div>

  <div class="flex justify-center">
    <div class="fixed top-16">
      <% if @restaurant %>
        <%= react_component("modal/modalAlertCart", { restaurantId: @restaurant.id }) %>
      <% end %>
    </div>
    <div class="fixed top-12">
      <% if @restaurant %>
        <%= react_component("modal/modalOrdered", { restaurantId: @restaurant.id }) %>
      <% end %>
    </div>
    <div class="fixed top-12">
      <%= react_component("modal/modalMenu") %>
      <%= react_component("modal/modalMenuItem") %>
      <%= react_component("modal/modalAllergen") %>
    </div>
  </div>
</body>
</html>
