<!DOCTYPE html>
<html>
  <head>
    <title>Rubynor Qr Meny System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind"%>
    <%= stylesheet_link_tag "inter-font"%>

    <style>
  </style>
  </head>

  <body>
    <% if session[:restaurant_id] != nil %>
      <%= button_to 'Logout', logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
